<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equic="X-UA-Compatible" content="IEedge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <style>
            body {background-color: powderblue;}
            h1   {color: blue;}
        </style>
        <title>Prediction of a startup's status</title>
    </head>
    <body>
        
        <h1>Start Up status prediction Application</h1>

        <hr>
            {% if result %}
            <h1>The status of the company you are trying to predict is {{result}}</h1> 
            {% endif %}
            <form action="" method='POST'>
                {% csrf_token %}
                ID: <input type="number" name="id" required><br><br>
                Entity ID: <input type="number" name="entid" required><br><br>
                Founded at: <input type="date" name="founded" required><br><br>
                Closed at: <input type="date" name="closed"><br><br>
                Investment Rounds: <input type="number" name="investmentrounds" required><br><br>
                Funding Rounds: <input type="number" name="fundingrounds" required><br><br>
                Funding Total USD: <input type="number" name="fundingtotal" required><br><br>
                Milestones: <input type="number" name="milestones" required><br><br>
                Relationships: <input type="number" name="relationship" required><br><br>
                Created at: <input type="date" name="created" required><br><br>
                Updated at: <input type="date" name="updated" required><br><br>
                Return On Investments: <input type="number" name="roi" required><br><br>
                Company's age: <input type="number" name="age" required><br><br>
                Category Code: <select name="categorycode" id="cat">
                    <option value="advertising">Advertising</option>
                    <option value="biotech">Bio Tech</option>
                    <option value="consulting">Consulting</option>
                    <option value="ecommerce">E-Commerce</option>
                    <option value="enterprise">Enterprise</option>
                    <option value="videogames">Video Games</option>
                    <option value="mobile">Mobile</option>
                    <option value="software">Software</option>
                    <option value="web">Web</option>
                    <option value="other">Other</option>
                  </select><br><br>
                  Country Code: <select name="countrycode" id="con">
                    <option value="AUS">AUS</option>
                    <option value="CAN">CAN</option>
                    <option value="DEU">DEU</option>
                    <option value="ESP">ESP</option>
                    <option value="FRA">FRA</option>
                    <option value="GBR">GBR</option>
                    <option value="IND">IND</option>
                    <option value="ISR">ISR</option>
                    <option value="NLD">NLD</option>
                    <option value="USA">USA</option>
                    <option value="other">Other</option>
                  </select><br><br>
                  <input type="submit">
            </form><br>
            https://git.heroku.com/cryptic-shelf-79507.git
        
            
    
        </body>
</html>